# -------------------
# General
# -------------------
TZ=America/Halifax
PUID=1000
PGID=1000

# -------------------
# ProtonVPN WireGuard
# -------------------
VPN_SERVICE_PROVIDER=protonvpn # this is what i use but you can refer to my gluetun documentation for different providers
VPN_TYPE=wireguard

# Uncomment this if prowlarr won't connect to arr apps (set your subnet)
FIREWALL_OUTBOUND_SUBNETS=10.0.0.0/24

# These come from the ProtonVPN WireGuard config you generated
WIREGUARD_PRIVATE_KEY=
# WIREGUARD_PUBLIC_KEY=
# WIREGUARD_ADDRESSES=
# WIREGUARD_ENDPOINT_IP=
# WIREGUARD_ENDPOINT_PORT=51820

# If you used a Proton config from a specific country/city
# ⚠️ Use only PF-enabled regions like Netherlands, Sweden, Switzerland
SERVER_COUNTRIES=Canada
# SERVER_CITIES=Toronto

# -------------------
# NAT-PMP / Port Forwarding
# -------------------
# Don’t hardcode this unless you know your Proton WG gateway;
# most of the time it’s 10.2.0.1. The updater can auto-detect.
# NATPMP_GATEWAY=10.2.0.1

# -------------------
# qBittorrent
# -------------------
QBIT_USER=REDACTED
QBIT_PASS=REDACTED
QBIT_HOST=http://127.0.0.1:8081   # must match your WebUI port
REFRESH_SECONDS=600               # updater interval