DATABASE_URL="file:../db/baby-tracker.db"
SERVICE_NAME=Sprout
NODE_ENV=production
PORT=3020
TZ=America/Halifax
AUTH_LIFE=86400
IDLE_TIME=604800
REFRESH_TOKEN_LIFE=604800
APP_VERSION=latest
COOKIE_SECURE=false
# Encryption hash for local deployment data encryption
ENC_HASH="CHANGE-ME"
